<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Poptracker home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
    </head>
    <body>
    
        <h1>Movie Tracker: Poptracker!</h1>
        <ul>
            <li><a href="{{ url_for('watch_history')}}">View watch history</a></li>
            
            <li><a href="{{ url_for('search_logs')}}">search logs</a></li>
            

        </ul>
    </body>
</html>